@font-face { font-family: Square; src: url('Square.ttf'); }

/* CORE */
html {
  background-image: url("test4.png");
  background-origin: content-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: auto;
  overflow: auto;
}

/* ELEMENT SPECIFIC */
h1, h2 {
  color: rgb(90, 90, 90);
  font-weight: 600;
  line-height: 1.3;
}

h1, h3 {
  color: rgb(61, 61, 61);
  font-family: 'Square';
}

a {
  color: rgb(100, 128, 172);
}

b, strong {
  font-weight: 600;
}


/* HEADER */
.header {
  background-color: rgb(46, 46, 46);
  top: 0;
  height: 85px;
  margin: auto;
  display: flex;
  align-items: center;
  font-family: 'Square';
  text-align: center;
  z-index: 99;
}

.header > img {
  max-width: 200px;
  margin: 5px 0 5px 6em;
  float: left;
  cursor: pointer;
}

.header > ul {
  list-style: none;
}

.header > ul li{
  display:inline-block; 
  padding:0 7px; 
  position:relative;
}

.header > ul li:not(:last-child)::after{
  content: ""; 
  border: 1px solid #e2e2e2;
  border-width: 1px 1px 0 0;
  position: absolute;  
  top: 25%; 
  height: 50%;
}

.header > ul  li  a {
  font-size: 20px;
  color: rgb(223, 223, 223);
  padding-right: 20px;
	text-decoration: none;
  text-align: center;
}

.header > ul li a:hover {
  color: rgb(100, 128, 172);
}

/* INNER BODY */
.main {
  padding: 2em 8em;
  color: black;
  background-image: url("whitebg.jpg");
  background-size: 125% 100%;
  position: relative;
  z-index: 3;
}

.filler {
  padding: 0 8em 2em;
}

/* TOP BANNER */
.banner1 {
  position: relative;
  text-align: center;
  overflow: hidden;
}


.banner1 > .bannertext1 {
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
}

.banner1 > .bannertext1 > p {
  margin-left: 30px;
  margin-right: 30px;
}

/* BANNERS */
.banners {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.banners > img {
  position: relative;
  width: 100%;
  max-height: 75vh;
  overflow: auto;
}

.banners > img:first-of-type {
  object-fit: cover;
  filter: blur(5px);
  transform: scale(1.1);
}

.banners > img:nth-of-type(2) {
  object-fit: cover;
  filter: blur(5px);
  transform: translateY(-80px) scale(1.1);
}

/* PROMO INFO */
.banners > .promo_info {
  position: absolute;
  display: flex;
  margin-top: 250px;
  width: 100%; 
  top: 0;
  left: 0px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.banners > .promo_info > h1, h2, a {
  z-index: 99;
}

.banners > .promo_info > h1 {
  color: white;
  margin-bottom: 0;
}

.banners > .promo_info > h2 {
  color: white;
}

.banners > .promo_info > a {
  color: black;
  font-family: 'Square';
  font-size: x-large;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  text-decoration: none;
  transition: 0.15s;
}

.banners > .promo_info > a:hover {
  color: white;
  font-family: 'Square';
  font-size: x-large;
  padding: 5px 10px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgb(46, 46, 46);
  text-decoration: none;
}

/*BOTTOM PROMO INFO*/
.banners > .promo_info2 {
  position: absolute;
  display: flex;
  margin-bottom: 250px;
  width: 50%; 
  bottom: 0;
  left: 0px;
  flex-direction: column;
  align-items: center;
  z-index: 99;
}

.banners > .promo_info2 > h2 {
  color: black;
}

.banners > .promo_info2 > p a {
  color: black;
  font-family: 'Square';
  font-size: x-large;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.15s;
}

.banners > .promo_info2 > p a:hover {
  color: white;
  font-family: 'Square';
  font-size: x-large;
  padding: 5px 10px;
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none;
  background-color: rgb(46, 46, 46);
}

.banners > .promo_info2 > .filler {
  position: absolute;
  background-color: white;
  padding-bottom: 390px;
  padding-right: 200px;
  z-index: -1;
}

/* PRODUCTS BANNERS */
.banners .products {
  font-family: 'Square';
  color: black;
  font-size: 42px;
  background-image: url("whitebg.jpg");
  background-size: 125% 100%;
  position: relative;
  transform: translateY(-60px);
  z-index: 3;
}

.banners .products > a {
  text-decoration: none;
  color: black;
  position: absolute;
  top: 17px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.banners .products .picons > ul li {
  list-style-type: none;
  display: inline-block;
  padding-top: 115px;
}

.banners .products .picons figure {
  margin-top: 5px;
  cursor: pointer;
}

.banners .products .picons > ul li img {
  max-height: 175px;
  margin-top: -20px;
}

.banners .products .picons figcaption {
  font-size: 22px;
  margin-top: -10px;
}

.menu .dropdown {
	display:none;	
}

.menu:hover .dropdown {
	text-align:left;
	font-size:10px;
	display:block;
}

.menu:hover .dropdown:hover a:hover {
	color:blue;
}

/* SUPPORT BANNER */
.bottom_banner {
  color: black;
  background-image: url("whitebg.jpg");
  background-size: cover;
  position: relative;
  position: relative;
}

.bottom_banner > .content {
  margin-left: 20px;
  padding: 20px 0 45px 0;
}

.bottom_banner > .content > h2 {
  color: black;
  margin-bottom: 10px;
}

.bottom_banner > .content > a {
  color:black;
  text-decoration: none;
  transition: 0.15s;
}

.bottom_banner > .content > a:hover {
  color:rgb(100, 128, 172);
}

.bottom_banner > .content > img {
  float: left;
  margin: 6px 12px 6px 0;
  max-height: 25px;
}

.bottom_banner > .content > img:first-of-type {
  margin-top: 23px;
}

 /* SUPPORT INFO */
.support_info {
  position: absolute;
  display: flex;
  margin-top: 300px;
  width: 100%; 
  top: 0;
  left: 0px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.support_info > h1, h2, a, p {
  text-decoration: none;
  z-index: 99;
}

.support_info > h1 {
  color: white;
  margin-bottom: 0;
}

.support_info > h2, .support_info > p {
  color: white;
}

.support_info > p:last-of-type {
  margin-top: 0;
}

.support_info > a {
  color: black;
  font-family: 'Square';
  font-size: x-large;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  text-decoration: none;
  transition: 0.15s;
}

.support_info > a:hover {
  color: white;
  font-family: 'Square';
  font-size: x-large;
  padding: 5px 10px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgb(46, 46, 46);
  text-decoration: none;
}

.support_banner {
  position: relative;
  width: 100%;
  max-height: 75vh;
  overflow: clip;
  margin-bottom: -8px;
}

/* ABOUT BANNER */
.about_banner {
  background-image: url("images/about1.png");
  background-position-y: center;
  margin: 0;
  height: 400px;
  background-size: cover;
  display: flex;
  width: 100%; 
  top: 0;
  left: 0px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(2px);
}

.about_banner > h1 {
  font-size: 72px;
  margin-bottom: 0;
}

.about_banner > h1, .about_banner > h2 {
  color: white;
}

.about_body {
  padding: 2em 20em;
  background-image: url("whitebg.jpg");
  background-size: 125% 100%;
  position: relative;
  z-index: 3;
  line-height: 2em;
}

.about_body > h1, .about_body > h2 {
  display: flex;
  width: 100%; 
  top: 0;
  left: 0px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.column {
  float: left;
  width: 47%;
  margin: 15px;
}

.about_text::after {
  content: "";
  display: table;
  clear: both;
}

/* SPECIFIC BANNERS */

.banners .products .picons > ul li:first-of-type img {
  max-height: 125px;
}

/* FOOTER */
.footer {
  color: rgb(223, 223, 223);
  height: 120px;
  clear: both;
  bottom: 0px;
  padding: 50px 6em 0;
  background-color: rgb(46, 46, 46);
  z-index: 99;
}

.footer img {
  float: right;
  margin-left: 20px;
  max-height: 30px;
  transform: translateY(-60px);
}

/* FOOTER ALT */
.footeralt {
  color: rgb(223, 223, 223);
  height: 120px;
  clear: both;
  bottom: 0px;
  padding: 110px 6em 0;
  background-color: rgb(46, 46, 46);
  z-index: 99;
}

.footeralt img {
  float: right;
  margin-left: 20px;
  max-height: 30px;
  transform: translateY(-60px);
}