.Itemdata:nth-child(odd){
	background:#b8d1f3;
	text-align:center;
}

.ItemData:nth-child(even){
	background: #dae5f4;
	text-align:center;
}
h1{
	background: white;
	text-align:center;
}
.div{
	height: 150px;
	background-color: rgb(46, 46, 46);
	font-size: 60px;
	text-align:center;
}

img{
	height:85px;
	text-align:left;
}
