body{
	margin: 0;
	padding: 0;
	background: #313131;
}

.slider{
	width: 800px;
	height: 400px;
	background: url(laptop.png);
	margin: 100px auto;
	animation: slide 20s infinite;
}

@keyframes slide{
	25%{
		background: url(monitor.png);
	}
	50%{
		background: url(mouse.png);
	}
	75%{
		background: url(case.png);
	}
	100%{
		background: url(cpu.png);
	}
}
	
	